.calculator{
    border:1px solid black;
    background: #3A4655;
    width: 400px;
    color: white;
    margin: auto;
    height: 500px;
    padding: 10px;
}
#res{
    margin-left:20px;
    width: 300px;
    padding: 20px 30px;
    height: 100px;
    border-radius: 10px;
    border: none;
    font-size: 50px;
    font-weight: bold;
    background: #669999;
}
.calc-btns{
    margin: auto;
    background: grey;
    width: 350px;
    height: 360px;
    margin-top: 10px;
}
.row{
    height: 72px;
    display: flex;
    justify-content: center;
}
.clear, .zero{
    flex-grow: 1;
}
.btns{
    border: 1px solid;
    width: 87.5px;
    background: #425062;
}
.btns:hover{
    background: #3e4b5c;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: aqua;
    color: black;
    z-index: 1;
    text-align: center;
}
